<html>
    <body>
        <form action="http://127.0.0.1:5000/result" method="POST">
                <p>subject</p>
                <p><input type="text" name="subject"</p>
                <p>physics</p>
                <p><input type="text" name="physics"</p>
                <p>Maths</p>
                <p><input type="text" name="Maths"</p>
                <p>Chemisry</p>
                <p><input type="text" name="Chemisry"</p>
                <p><input type="submit" value="submit"></p>
        </form>
    </body>
</html>