<html>
    <head>
        <title>All In One</title>
    </head>
    <body>
        <h1>Login</h1>
        <table>
        <form action="/login" method="POST" enctype="multipart/form-data">
            <tr>
                <td>User Name :</td>
                <td><input type="text" name="txt"></td>
            </tr>
            <tr>
                <td>User Name :</td>
                <td><input type="password" name="passwd"></td>
            </tr>
            <tr>
                <td>Photo :</td>
                <td><input type="file" name="file"></td>
            </tr>
            <td><input type="submit" value="Submit"></td>
        </form>
        </table>

    </body>
</html>