<html>
	<head>
		<title>
			Form
		</title>
		
	</head>
	<body bgcolor = 'red'>
		<fieldset style = 'background-color:yellow;'>
			<legend style = 'background-color:orange;'>
				Login Page
			</legend>
	<form action="/form" method="POST">
		<table>
			<tr>
				<td><label>Name : </label></td>
				<td><input type = "text" name = 'txt'  placeholder = "Enter Name"></td>
			</tr>
			<tr>
				<td><label>Password : </label></td>
				<td><input type = "password" name = 'passwod' placeholder = "Enter Password"></td>
			</tr>
			<br>
			<tr>
				
				<td><button type = "submit" value = "submit">Submit</button></td>
				
			</tr>	
		</table>
	</form>
		</fieldset>
		<img src = 'kp.jpg' width = 600 height = 500>
		<p><marquee scrolldelay = '20' direction  = 'down' width = 100 height = 50><label  style = "padding-top:400px;" width = 2000 height=600>kamlesh Hello</label></marquee></p>
	</body>
</html>
		