<html>
	<head>
		<title>
			Form
		</title>
		
	</head>
	<body>
		
		<fieldset style = 'background-color : yellow;'>
			<legend style = 'background-color : blue;'>
				REGISTRATION
			</legend>
		<marquee direction = "right" style = 'background-color : red;'>Enter Your Details</marquee>
		<br>
		<table>
			<tr>
				<td><label>Name : </label></td>
				<td><input type = "text" name = 'na' id = 'na' placeholder = "Enter Name"></td>
			</tr>
			<tr>
				<td><label>SerName : </label></td>
				<td><input type = "text" name = 'na' id = 'na' placeholder = "Enter SirName"></td>
			</tr>
			<br>
			<tr>
				<td><label>Male</label></td>
				<td><input type = "radio" name = 'ra' id = 'ra'></td>
				<td><label>Female</label></td>
				<td><input type = "radio" name = 'ra' id = 'ra'></td>
			</tr>
			<tr>
				<td><label>CITY : </label></td>
				<td><select>
					<option></option>
					<option>Indore</option>
					<option>Bhopal</option>
					<option>Ujjain</option>
				</select></td>
			</tr>
			
			<tr>
				<td><label>Qualification : </label></td>
				<td><select>
					<option></option>
					<option>MBA</option>
					<option>BE</option>
					<option>BBA</option>
					<option>B.Com</option>
				</select></td>
			</tr>
		
		
		
		</table>
		<a href="http://127.0.0.1:5000/getcookie"><h1>Check Cookie is</h1></a>
		</fieldset>
	</body>
</html>
		