<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
    alert('Mr. KAMLESH PRAJAPAT RESUME');
</script>

	<title>Resume</title>
	<link href ="static/style.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="static/images/k.png">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4558918371313511",
    enable_page_level_ads: true
  });
</script>
</head>
<body onload="happycode() ;">



	<div class="main">
			<div class="head">
				<img src="static/images/headshot.jpg" align="left">
				<p id="k1"><b>Mr. KAMLESH PRAJAPAT<br>
								<label style="font-size: 0.6em">WEB DEVELEOPER / DESGINER</p>
			</div>
		<div class="middel">
			<b><p><label style="font-size: 1.8em">CAREER OBJECTIVE</p>
		</div>
		<div class="middel1">
				<b><p><label style="font-size: 1.8em">CONTACT</p>
		</div>

		<div class="Contactdown">
			<p id="k2">ADDRESS
				<br>
				<label style="color: white;font-size: 12px;">155, Durga Nagar,&nbspAirport Road<br>
			Indore(M.P.)
			</p> 
			<p id="k3">PHONE NO.
				<br>
				<label style="color: white;font-size: 12px;">9685545903,8319845745
			</p> 
			<p id="k4">E-MAIL ID
				<br>
				<label style="color: white;font-size: 12px;"><a href="https://www.gmail.com">kamleshbprajapat@gmail.com</a>
			</p> 
			<p id="k5">WEBSITE
				<br>
				<label style="color: white;font-size: 12px;"><a href="https://www.freemon.ml">www.freemon.ml</a>
			</p>			
		</div>
		<div class="careerdown">
			<p id="k6">Seeking challenging career with a progressive organization thats provides an opportunity to capatilize my technical skill & abilities in the field of Computer Science(CSE).</p>		
		</div>
		<div class="middel2">
			<b><p><label style="font-size: 1.8em">EDUCATION</p>
		</div>

		<div class="education">
			<table border="1">
				<tr>
				<td>COURSE</td>
				<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspINSTITUTE NAME</td>
				<td>PASSOUT YEAR</td>
				<td>CGPA</td>
				</tr>

				<tr>
					<td>BE</td>
					<td>Shri Aurobindo Institute of Technology, Indore</td>
					<td>2019</td>
					<td>67%(7th Sem)</td>
				</tr>

				<tr>
					<td>12TH</td>
					
					<td>Shri Viashnav Higher Secondary School, Indore</td>
					<td>2015</td>
					<td>69.33%</td>
				</tr>

				<tr>
					<td>10TH</td>
					
					<td>B.P.Childern Public school, Indore</td>
					<td>2013</td>
					<td>76.33%</td>
				</tr>
			</table>
		</div>
		<div class="middel3">
			<b><p><label style="font-size: 1.8em">ABOUT ME</p>
		</div>
		<div class="aboutdown">
			<p id="k7">DATE OF BIRTH
				<br>
				<label style="color: white;font-size: 12px;">JANUARY 31, 1998
			</p> 
			<p id="k8">NATIONALITY
				<br>
				<label style="color: white;font-size: 12px;">Indian
			</p> 
			<p id="k9">MARITAL STATUS
				<br>
				<label style="color: white;font-size: 12px;">Single
			</p> 
			<p id="k10">KNOWN LANGUAGES
				<br>
				<label style="color: white;font-size: 12px;">Hindi,&nbsp&nbspEniglish,&nbsp&nbspGujrati
			</p> 
		</div>
		<div class="middel4">
			<b><p><label style="font-size: 1.8em">TECHNICAL SKILLS</p>
		</div>
		<div class="skilldown">
			<p>
			<ul class="skill-bars">
                    <li>
                    <div class="progress percent90"><span>90%</span></div>
                    <strong style="color: white">HTML5</strong>
                    </li>
                    <li>
                    <div class="progress percent85"><span>85%</span></div>
                    <strong style="color: white">CSS3</strong>
                    </li>
                    <li>
                    <div class="progress percent60"><span>60%</span></div>
                    <strong style="color: white">Javascript</strong>
                    </li>
                    <li>
                    <div class="progress percent80"><span>80%</span></div>
                    <strong style="color: white">java</strong>
                    </li>
                   
                </ul></p>
		</div>
		<div class="middel5">
			<b><p><label style="font-size: 1.8em">HOBBIES</p>
		</div>
		<div class="hobbies">
			<ul type="circle">
				<li>GYMING</li><br>
				<li>Reading Motivational Thought</li><br>
				<li>Listening Music</li><br>
				<li>Traveling</li>
			</ul>
		</div>
		<div class="middel6">
			<b><p><label style="font-size: 1.8em">TRAINING</p>
		</div>
		<div class="training">
			<p id="k11"><label style="color: cyan;font-size: 1.4em;">From:  June 11 2018 to 15th July 2018 (6 hour in a day)</label><br>
          Attended Python training conducted at my college by an expert. Gained basic konwlegde of python in industrial training help are SAIT indore by expert. </p>
		</div>
	</div>

</body>
</html>